:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #DF7AA7;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  gap: 2em;
  align-items: center;
}
#root img{
  cursor: pointer;
  filter: drop-shadow(0 0 2px white);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/* Keyframes */
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Div TetardCoinAdd */
div.TetardCoinAdd{
width: 1280px;
height: 250px;
}
img.TetardCoinImg {
 animation: rotate 7s infinite;
 scale: 3;
}
img.TetardCoinImg:active {
  scale: 3.6;
 }

/* div.TetardCoin  */
div.tetardCoin {
  width: 200px;
  background-color: #504F55;
  border: #DF7AA7;
  border-radius: 5px;
}

/* div.clickerZ */
div.clickerZ {
  display: flex;
  width: 400px;
  border-radius: 5px;
  background-color: #504F55;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
div.clickerZ > h2 {
  font-size: 2em;
  background-color: #242424;
  border-radius: 5px;
  width: 275px;
}
div.clickerZ > h3 {
  font-size: 2em;
  background-color: #242424;
  border-radius: 5px;
  width: 150px;
}
img.TetardCoinClick {
  scale: 100%;
}
img.TetardCoinClick:hover {
  scale: 85%;
}

/* div.amelio */
div.amelio {
  display: flex;
  width: 400px;
  height: 300px;
  gap: 15px;
  background-color: #504F55;
  border-radius: 5px;
  flex-direction: column;
}


/* FOOTER */
footer {
  color: #DF7AA7;
  background-color: #CAE472;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}